header {
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    font-size: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
}

h1 {
    background-color: aquamarine;
}

h2 {
    color: orangered;
}

li {
    font-size: 18px;
}